---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>Kiss my lips, boondogle</h1>
	<h2>Page title is: {pageTitle}</h2>
	<p>this is blog site</p>
	<p>you can read <a href="/blog">blog here</a>, also there is <a href="/about">about page here</a></p>
	<p>that is it, you dont like it go do something else boondogle</p>
</BaseLayout>